.mediaViewInfo {
	--web-view-name: Web 1920 – 2;
	--web-view-id: Web_1920__2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__2 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 2;
	--web-view-id: Web_1920__2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#DSCF8755 {
	position: absolute;
	width: 906px;
	height: 877px;
	left: 960px;
	top: 165px;
	overflow: visible;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: Web_1920___3.html;
	cursor: pointer;
}
#FlyDreamAir {
	left: 122px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(33,150,243,1);
}
#Repeat_Grid_3 {
	position: absolute;
	width: 994px;
	height: 44px;
	left: 413px;
	top: 38px;
	overflow: hidden;
}
#Repeat_Grid_3_0 {
	position: absolute;
	width: 161px;
	height: 27px;
	left: 0px;
	top: 10px;
	overflow: visible;
}
#Book_and_Manage {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Repeat_Grid_3_1 {
	position: absolute;
	width: 154px;
	height: 27px;
	left: 257px;
	top: 10px;
	overflow: visible;
}
#___Prepare_and_Go {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Repeat_Grid_3_2 {
	position: absolute;
	width: 165px;
	height: 27px;
	left: 514px;
	top: 10px;
	overflow: visible;
}
#Explore_and_Travel_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Repeat_Grid_3_3 {
	position: absolute;
	width: 126px;
	height: 27px;
	left: 771px;
	top: 10px;
	overflow: visible;
}
#Frequent_Flyer {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#yanni_pic {
	position: absolute;
	width: 58px;
	height: 58px;
	left: 1648px;
	top: 38px;
	overflow: visible;
}
#John_Smith {
	left: 1722px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Ready_for_your_next_trip_Book_ {
	left: 55px;
	top: 102px;
	position: absolute;
	overflow: visible;
	width: 594px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,0,0,1);
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 236px;
	height: 268.573px;
	left: 55px;
	top: 165px;
}
#Rectangle_4_w {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_w {
	position: absolute;
	overflow: visible;
	width: 236px;
	height: 268.573px;
	left: 290px;
	top: 165px;
}
#Rectangle_4_x {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_x {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 133px;
	left: 525px;
	top: 165px;
}
#Rectangle_4_y {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_y {
	position: absolute;
	overflow: visible;
	width: 189px;
	height: 269px;
	left: 731px;
	top: 165px;
}
#Leaving_from {
	left: 68px;
	top: 183px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Going_to {
	left: 310.489px;
	top: 182.5px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Departing_on {
	left: 541.759px;
	top: 182.5px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Arriving_on {
	left: 541.759px;
	top: 305.5px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Rectangle_5 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 137px;
	left: 525px;
	top: 297px;
}
#baseline_flight_black_48dp {
	position: absolute;
	width: 77px;
	height: 77px;
	left: 786.197px;
	top: 237.952px;
	overflow: visible;
}
#Search_flights {
	left: 765.197px;
	top: 351.488px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Repeat_Grid_7 {
	position: absolute;
	width: 869px;
	height: 64px;
	left: 55px;
	top: 468px;
	overflow: hidden;
}
#Repeat_Grid_7_0 {
	position: absolute;
	width: 275px;
	height: 55px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_6 {
	fill: rgba(110,197,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#Manage_booking {
	left: 61px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Repeat_Grid_7_1 {
	position: absolute;
	width: 275px;
	height: 55px;
	left: 295px;
	top: 0px;
	overflow: visible;
}
#Rectangle_6_bb {
	fill: rgba(110,197,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6_bb {
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#Check_in {
	left: 100px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Repeat_Grid_7_2 {
	position: absolute;
	width: 275px;
	height: 55px;
	left: 590px;
	top: 0px;
	overflow: visible;
}
#Rectangle_6_be {
	fill: rgba(110,197,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6_be {
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#Flight_status {
	left: 83px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Our_latest_news {
	left: 55px;
	top: 546px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Repeat_Grid_8 {
	position: absolute;
	width: 871px;
	height: 290px;
	left: 55px;
	top: 600px;
	overflow: hidden;
}
#Repeat_Grid_8_0 {
	position: absolute;
	width: 427px;
	height: 259px;
	left: -4px;
	top: 0px;
	overflow: visible;
}
#download {
	position: absolute;
	width: 427px;
	height: 259px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Repeat_Grid_8_1 {
	position: absolute;
	width: 427px;
	height: 259px;
	left: 441px;
	top: 0px;
	overflow: visible;
}
#download_1 {
	position: absolute;
	width: 427px;
	height: 259px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Tokyo {
	left: 1003px;
	top: 213px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#from_699 {
	left: 1003px;
	top: 299px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Melbourne_All_airport {
	left: 1003px;
	top: 195px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Group_2 {
	position: absolute;
	width: 28.525px;
	height: 7.924px;
	left: 1193.5px;
	top: 200.576px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 28.525px;
	height: 1px;
	left: 0px;
	top: 7.924px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 8.631px;
	height: 8.631px;
	left: 20.601px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon__Menu__Filled {
	opacity: 0.5;
	position: absolute;
	width: 29.977px;
	height: 25px;
	left: 1835.14px;
	top: 52px;
	overflow: visible;
}
#Box {
	fill: rgba(255,255,255,1);
}
.Box {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 25px;
	left: 1.86px;
	top: 0px;
}
#Path_417 {
	fill: rgba(0,0,0,1);
}
.Path_417 {
	overflow: visible;
	position: absolute;
	width: 29.977px;
	height: 19.984px;
	left: 0px;
	top: 2.445px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon__Airplane_Mode_Active__Fi {
	opacity: 0.5;
	transform: matrix(1,0,0,1,47.512,24.7827) rotate(44deg);
	transform-origin: center;
	position: absolute;
	width: 69.547px;
	height: 69.547px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Box_bw {
	fill: transparent;
}
.Box_bw {
	position: absolute;
	overflow: visible;
	width: 98.339px;
	height: 98.339px;
	left: 0px;
	top: 0px;
}
#Path_2000 {
	fill: rgba(0,104,191,1);
}
.Path_2000 {
	overflow: visible;
	position: absolute;
	width: 79.786px;
	height: 79.857px;
	left: 8.235px;
	top: 8.187px;
	transform: matrix(1,0,0,1,0,0);
}
#Travel_restrictions {
	left: 498px;
	top: 876px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Flight_Credit_flexibility_ {
	left: 55px;
	top: 876px;
	position: absolute;
	overflow: hidden;
	width: 203px;
	height: 33px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Flight_Credit_flexibility__b {
	left: 55px;
	top: 988px;
	position: absolute;
	overflow: hidden;
	width: 203px;
	height: 29px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,117,194,1);
}
#Travel_restrictions_ {
	left: 498px;
	top: 988px;
	position: absolute;
	overflow: hidden;
	width: 203px;
	height: 29px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,117,194,1);
}
#Before_travel_check_your_own_g {
	left: 498px;
	top: 922px;
	position: absolute;
	overflow: visible;
	width: 391px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#So_you_have_more_time_to_plan_ {
	left: 55px;
	top: 909px;
	position: absolute;
	overflow: visible;
	width: 427px;
	height: 74px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Icon__Arrow_Right__Filled {
	mix-blend-mode: normal;
	position: absolute;
	width: 38px;
	height: 38px;
	left: 230px;
	top: 979px;
	overflow: visible;
}
#Box_b {
	fill: transparent;
}
.Box_b {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#Icon__Arrow_Drop_Down {
	opacity: 0.995;
	fill: rgba(0,117,194,1);
}
.Icon__Arrow_Drop_Down {
	overflow: visible;
	position: absolute;
	width: 18.443px;
	height: 9.222px;
	transform: translate(0.375px, 0px) matrix(1,0,0,1,10.4517,17.5209) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Icon__Arrow_Right__Filled_b {
	mix-blend-mode: normal;
	position: absolute;
	width: 38px;
	height: 38px;
	left: 635px;
	top: 979px;
	overflow: visible;
}
#Box_ca {
	fill: transparent;
}
.Box_ca {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#Icon__Arrow_Drop_Down_b {
	opacity: 0.995;
	fill: rgba(0,117,194,1);
}
.Icon__Arrow_Drop_Down_b {
	overflow: visible;
	position: absolute;
	width: 18.443px;
	height: 9.222px;
	transform: translate(0.375px, 0px) matrix(1,0,0,1,10.4517,17.5209) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}